@tailwind base;
@tailwind components;
@tailwind utilities;

/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #00CBD8, #B844FF);
    /* Linear gradientadsad */
    border-radius: 5px;
    /* Example border radius */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #00CBD8, #B844FF);
    /* Linear gradient */
}


#propic {
    position: absolute;
    right: 16%;
    top: 2%;
    clip-path: circle();
    width: 55px;
}

.sidebar {
    /* height: calc(90vh - 0vh); */
    flex: 0 0 auto;
    width: 250px;
    /* background-color: rgb(250, 250, 250); */
}

.sidebar-item {
    padding: 10px 30px 10px 10px;
    font-size: 18px;
    font-weight: bold;
}

.sidebar-item:hover {
    color: white;
    background-color: #000000;
    border-radius: 20px;
}

.sidebar-item:hover img {
    filter: invert(1);
}

.sidebar-item img {
    width: 20px;
    height: 20px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.gradient-button {
    background-image: linear-gradient(135deg, #00CBD8, #B844FF);
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gradient-button:hover {
    background-image: linear-gradient(135deg, #00A9BF, #A336DF);
}
